@tailwind base;
@tailwind components;
@tailwind utilities;

.borders {
  @apply border border-black;
}

.btn {
  @apply font-semibold hover:bg-stone-600 px-2 rounded-full hover:text-white opacity-75;
}

.btn-delete {
  @apply font-semibold hover:bg-red-600 hover:opacity-100 px-2 rounded-full hover:text-white opacity-75;
}
